* {
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    font-size: 7vw;
    background-color: black;
    color: white;
}

.blue-text, .fa-bars {
    color: #47d9e9;
}

.tangerine {
    font-family: 'Tangerine', cursive;
    text-rendering: optimizeLegibility;
    font-weight: 400;
}

main {
    /*box-shadow: inset 0 0 20px #47d9e9;*/
    padding-top: 1px;
    padding-bottom: 1px;
}

section {
    margin: 20px;
    padding: 20px;
    height: 95vh;
    /*box-shadow: 0 0 20px #47d9e9;*/
}

img {
    display: block;
    max-width: 100%;
}

/* Nav bar */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    position: sticky;
    top: 0;
}

/* Landing page */

h1 {
    text-align: center;
    font-size: 15vw;
}

header {
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-photo {
    width: 90vw;
    height: 40vh;
    background-image: url(./images/landing1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 20px #000000;
}

/* About section */

.years {
    font-size: 20vw;
    line-height: 50%;
}

.about-bottom {
    text-align: right;
}

section.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /*box-shadow: inset 0 0 30px #47d9e9;*/
}

/* Services section */

section.services {
    background-image: url(./images/pool7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
}

.services-list.left {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.services-item {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1vh;
    text-align: center;
    margin: 1vh;
}

/* Contact section */

section.contact {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
}

.contact-top {
    border-color: #47d9e9;
    border-style: solid;
    border-width: 10px 0 0 10px;
}

.contact-top > p {
    padding-left: 7vw;
    padding-right: 10px;
}

.contact-top > img {
    padding-left: 10vw;
    padding-right: 10px;
}

address {
    text-align: right;
    border-color: #47d9e9;
    border-style: solid;
    border-width: 0 10px 10px 0;
    padding-right: 7vw;
    padding-bottom: 7vw;
}

address > a {
    text-decoration: none;
    color: white;
}

/* Gallery */

section.gallery {
    height: 100%;
    margin: 0;
    padding: 0;
}

.gallery-image {
    margin-bottom: 20px;
    border-top: 20px solid;
    border-bottom: 20px solid;
    width: 100vw;
}

.gallery-image.last {
    margin-bottom: 0;
}

/* Footer */

.footer-list {
    list-style: none;
    padding: 0;
    font-size: 4vw;
    text-align: center;
}

/* Mobile displays */

.desktop-only {
    display: none;
}

/* Tablet displays */

/* @media (min-width: 768px) {
    body {
        font-size: 5vw;
    }

    nav {
        font-size: 50px;
    }

    section {
        margin-top: 50px;
    }

    
    .years {
        font-size: 15vw;
    }
    img.about {
        height: 50vh;
    }

  
    .services-list.left {
        padding: 5vw;
    }
} */

/* Desktop displays */

/* @media (min-width: 790px) {
    .desktop-only {
        display: initial;
    }
    .mobile-only {
        display: none;
    }

    i.fa-bars {
        display: none;
    }
    .nav-list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        width: 100vw;
        margin: 0;
    }
    nav {
        margin: 0;
        padding: 0;
        background-color: black;
        padding-bottom: 10px;
    }
    .nav-item > a {
        color: white;
        text-decoration: none;
        font-size: 4vh;
        padding-right: 3vw;
    }
} */